APScheduler==3.7.0
certifi==2021.5.30
charset-normalizer==2.0.3
click==7.1.2
Flask==1.1.2
Flask-APScheduler==1.12.2
Flask-MySQL==1.5.2
h11==0.12.0
idna==3.2
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pycrypto==2.6.1
PyMySQL==1.0.2
python-dateutil==2.8.2
python-dotenv==0.17.1
pytz==2021.1
requests==2.26.0
six==1.16.0
stripe==2.60.0
tzlocal==2.1
urllib3==1.26.6
uvicorn==0.13.4
uvloop==0.15.2
Werkzeug==1.0.1
